
body {
  background-image: url("../images/wood-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 40px;
  padding-bottom: 40px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 18px;
  line-height: 2.0;
  width: 90%;
}

.epost1 {
  background-color: #dedede;
  color: #000000;
  border: 1px solid black;
  padding-left: 40px;
  padding-right: 40px;
  margin: 20px;
  width: 90%;
}

a:link, a:visited {
  #color: darkblue;
  color: #151B54;
  text-decoration: none;
  padding: 10px;
  border: 2px solid #dedede;
}

a:hover, a:active {
  border: 2px solid #010101;
}



.epost2 {
  background-color: #dedede;
  color: #000000;
  padding-top: 40px;
  padding-left: 80px;
  padding-right: 40px;
}

.ptop {
  font-family: Times, serif;
  font-size: 38px;
  padding-left: 60px;
}

.ptopsub {
  font-family: sans-serif;
  font-size: 18px;
  padding-left: 60px;
  color: #7f110a;
}

hr.new1 {
  border: 6px solid;
  color: #000000;
}

hr.new2 {
  border: 1px solid;
  color: #000000;
}

hr.new3 {
  border: 1px solid;
  width: 80%;
  color: #000000;
}

img.new1 {
  border: 1px solid #dddddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
img.new1:hover {
  box-shadow: 0 0 4px 4px rgba(0, 140, 186, 0.5);
}

h2 {
  font-family: Times, serif;
  font-size: 24px; 
  text-decoration: underline;
  text-underline-offset: 10px;
}

ul li {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 16px;
}

.image-link {
  display: inline-block;
  text-align: center; /* Center the image in the link */
  overflow: hidden; /* Ensures hover effects don't overflow the link */
}

